player-connection-mode=Listen
player-connection-guid=2517132570
player-connection-debug=0
player-connection-project-name=Future Warriors
player-connection-ip=172.26.155.8
player-connection-ip=192.168.56.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=c2a2b36be4894cae91f8408de4f59e7e
