player-connection-mode=Listen
player-connection-guid=397452373
player-connection-debug=0
player-connection-project-name=Future Warriors
player-connection-ip=192.168.56.1
player-connection-ip=192.168.137.33
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=9e2c2bc34db84afa839eaa50a99e3d5f
